;Configuration of account types by first number
;KKlasse K: Aktiva 0xxx, 1xxx, 2xxx
;KKlasse P: Passiva 3xxx, 4xxx
;KKlasse E: Ertraege 5xxx
;KKlasse A: Aufwendungen 6xxx, 7xxx
;KKlasse G: Ergebnisrechnung 8xxx
;KKlasse R: Kosten/Leistungsrechnung 9xxx
;KKlasse ' ': others

{:kklasse      {:0 "K"
                :1 "K"
                :2 "K"
                :3 "P"
                :4 "P"
                :5 "E"
                :6 "A"
                :7 "A"
                :8 "G"
                :9 "R"}
 :konto_art    {:10 "K"
                :40 "L"}
 :kklasse_name {:K "Aktiva"
                :P "Passiva"
                :E "Ertraege"
                :A "Aufwendungen"
                :G "Ergebnisrechnung"
                :R "Kosten/Leistungsrechung"}}