; to be replaced with fa08.dbf, when reader is able to read that file
[{:fasuch "VSt7%" :fatext "Vorsteuer 7%" :famwst 7 :art "V" :br_ne "B" :konto_nr "2600" :text_jo "VSt7%"}
 {:fasuch "MSt19%" :fatext "Umsatzsteuer 19%" :famwst 19 :art "M" :br_ne "B" :konto_nr "4800" :text_jo "MSt19%"}
 {:fasuch "MSt7%" :fatext "Umsatzsteuer 7%" :famwst 7 :art "M" :br_ne "B" :konto_nr "4800" :text_jo "MSt7%"}
 {:fasuch "VSt19%" :fatext "Vorsteuer 19%" :famwst 19 :art "V" :br_ne "B" :konto_nr "2600" :text_jo "VSt19%"}
 {:fasuch "VSt0%" :fatext "Kein Steuer *******" :famwst 0 :art "V" :br_ne "B" :konto_nr "2600" :text_jo "VST0%"}
 {:fasuch "KSk19%" :fatext "Kundenskonto MWS19%" :famwst 19 :art "S" :br_ne "B" :konto_nr "4800" :text_jo "KSK19%"}
 {:fasuch "LSk19%" :fatext "Lief.skonto VST19%" :famwst 19 :art "L" :br_ne "B" :konto_nr "2600" :text_jo "LSK19%"}
 {:fasuch "KSk7%" :fatext "Kundenskonto MWS7%" :famwst 7 :art "S" :br_ne "B" :konto_nr "4800" :text_jo "KSK 7%"}
 {:fasuch "LSK 7%" :fatext "Lief. skonto VST7%" :famwst 7 :art "L" :br_ne "B" :konto_nr "2600" :text_jo "LSK 7%"}]