[
 {:name "Kundenskonto" :key "MwSt 19%" :tax 0.19}
 {:name "Kundenskonto" :key "MwSt 7%" :tax 0.07}
 {:name "Lief.skonto" :key "VSt 19%" :tax 0.19}
 {:name "Lief.skonto" :key "VSt 7%" :tax 0.07}
 {:name "Umsatzsteuer" :key "USt 19%" :tax 0.19}
 {:name "Umsatzsteuer" :key "USt 7%" :tax 0.07}
 {:name "Kein Steuer" :key "*****" :tax 0.19}
 {:name "Vorsteuer" :key "19%" :tax 0.19}
 {:name "Vorsteuer" :key "7%" :tax 0.07}
 ]